body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 97vh;
    width: 99vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: #353030;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;                       
}
div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logoContainer{
    height: 10vh;
    justify-content: space-between;
    width: 95%;
    flex-wrap: nowrap;
}
.tabsContainer{
    height: 22vh;
    justify-content: center;
    width: 100%;
}
.albumTracksContainer{
    height: 40vh;
    width: 80%;
    background-color: #6B6363;
    border: black 6px solid;
    border-radius: 10px;
}
.trackText
{
    font-weight: bold;
}
.lengthText{
    font-weight: bold;
}
.trackContainer{
    width: 90%;
    height: 10%;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
.trackContainer:hover{
    transform: scale(1.05);
}
.trackCoverImage{
    border-radius: 5px;
    height: 90%;
    width: auto;
}
.homeContainer{
    height: 8vh;
    justify-content: space-between;
    width: 80%;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in-out;
    background-color: #6B6363;
    border: black 6px solid;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
.homeContainer:hover{
    background-color: #908788;
}
.genresContainer{
    height: 8vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    transition: all 0.3s ease-in-out;
    background-color: #6B6363;
    border: black 6px solid;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
.genresContainer:hover{
    background-color: #908788;
}
.icon{
    width: 50px;
    height: auto;
}
.logoIcon{
    width: 80px;
    height: auto;
}
.iconText{
    font-size: 50px;
    font-weight: bolder;
}
.menuText{
    font-size: 40px;
    font-weight: bold;
}
.topBarContainer{
    background-color: #6B6363;
    border-radius: 30px;
    width: 100%;
    height: 11vh;
}
.homepage{
    width: 100%;
    height: 68vh;
    border-radius: 30px;
    background-color: #6B6363;
    padding: none;
}
.genresPage{
    width: 100%;
    height: 68vh;
    border-radius: 30px;
    background-color: #6B6363;
    padding: none;
    display: none;
}
.bigGenreContainer{
    width: 20%;
    height: 70%;
    border-radius: 30px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
    display: none;
    text-align: center;
}
.bigGenreContainer:hover{
    transform: scale(1.1);
}
.genreDiv{
    height: 70%;
    width: 100%;
    background-attachment: fixed;
    border-radius: 30px;
}
.genreText{
    font-size: 50px;
    font-weight: 700;
}
.bigAlbumContainer{
    width: 18%;
    height: 45%;
    border-radius: 30px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.bigAlbumContainer:hover{
    transform: scale(1.05);
}
.albumCoverImage{
    height: 60%;
    width: auto;
    border-radius: 15px;
}
.albumName{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.playerContainer{
    background-color: #6B6363;
    width: 100%;
    height: 14vh;
    border-radius: 30px;
    flex-direction: column;
}
.mainContent{
    width: 100%;
    height: 70vh;
    padding: none;
}
.searchBarContainer{
    width: 70%;
    height: 50%;
    border-radius: 30px;
    border: black 6px solid;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.searchBarContainer:hover{
    background-color: #908788;
}
form{
    width: 100%;
    height: 100%;
    border-radius: 30pxs;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchBar{
    width: 90%;
    height: 100%;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
::placeholder {
    color: rgb(70, 70, 70);
    opacity: 1; /* Firefox */
  }
.searchBar:focus{
    outline: none;
    border: none;
}
.searchIcon{
    height: 90%;
    width: auto;
}
.profileContainer{
    width: 15%;
    height: 60%;
}
.profileIcon{
    height: 100%;
    width: auto;
    margin-right: 10px;
}
.profileText{
    font-weight: bold;
    font-size: 40px;
}
.songBar{
    height: 10%;
    width: 95%;
    background-color: #908788;
    justify-content: left;
    border-radius: 10px;
    margin-bottom: 10px;
}
.playedBar{
    background-color: #eb4c4c;
    width: 67%;
    height: 100%;
    border-radius: 10px;
}
.playerControlsContainer{
    width: 100%;
    height: 60%;
}
.previousSongIcon{
    transform: rotate(270deg);
    border-radius: 50%;
    border: 5px solid black;
    height: 70%;
    width: auto;
    transition: all 0.3s ease-in-out;
}
.previousSongIcon:hover{
    background-color: #908788;
    transform: scale(1.1) rotate(270deg);
}
.playIcon{
    margin-left: 10px;
    margin-right: 10px;
    transform: rotate(90deg);
    border-radius: 50%;
    background-color: #eb4c4c;
    height: 100%;
    width: auto;
    transition: all 0.3s ease-in-out;
}
.playIcon:hover{
    transform: scale(1.1) rotate(90deg);
}
.nextSongIcon{
    transform: rotate(90deg);
    border-radius: 50%;
    border: 5px solid black;
    height: 70%;
    width: auto;
    transition: all 0.3s ease-in-out;
}
.nextSongIcon:hover{
    background-color: #908788;
    transform: scale(1.1) rotate(90deg);
}
.sideMenu{
    width: 20vw;
    height: 97vh;
    background-color: #6B6363;
    border-radius: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.mainPage{
    /* background-color: #6B6363; */
    border-radius: 30px;
    justify-content: space-evenly;
    width: 78vw;
    height: 97vh;
}